// filepath: /c:/Users/dunca/source/repos/duncanbaird.github.io/_sass/_custom.scss
.page {
    max-width: 4000px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
}

.page-content {
    max-width: 4000px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
}